/** LTR Fonts **/

// LTR fonts
@ltrFont: 			    'exo';
@ltrFontBold:         'exo_bold';
@ltrFontLight:        @ltrFont;

.font-face(@ltrFont, '../fonts/@{ltrFont}/@{ltrFont}', normal, normal); 
.font-face(@ltrFontBold, '../fonts/@{ltrFont}/@{ltrFontBold}', normal, normal); 


@rtlFont: 			    'ge';
@rtlFontBold:         	@rtlFont;
@rtlFontLight:        	@rtlFont;
 // GE SS
.font-face(@rtlFont, '../fonts/@{rtlFont}/@{rtlFont}_light', normal, normal); 
